<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Nhận Code Game Bum Club, Bốc Vip, SunWin, ZinDo, Bắn Cá Online</title>
    <link rel="shortcut icon" href="../public/images/bocvip-icon.ico" />
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>

<body class="body-style">
    <div class="wraper">
        <%- include ('./header'); -%>

            <section class="banner">
                <div class="content">
                    <img src="../public/images/banner-nhancode88.gif" alt="">
                </div>
            </section>
            <div class="content text-content">
                <p>– <b>
                        <font color="#1d9af5">tangcode247</font>
                    </b> – Hệ thống khuyến mãi, tặng giftcode cho các game đổi thưởng <font color="#1d9af5">Bum
                        club,
                        Bốc
                        Club, ZinDo, 88Vin, V.v…</font> thường xuyên, các mã gift-code được cập nhật hằng ngày, dịp
                    lễ.
                    Đối
                    với những tài khoản chơi game có thời gian trên 6 tháng sẽ được mã gift-code <b>Đặc biệt</b>.
                </p>
                <p class="luu-y">
                    <font color="red">Lưu ý</font>: Mỗi tài khoản game và IP truy cập chỉ được nhận 1 Gift-Code
                    trong 1
                    ngày.
                </p>
            </div>
            <div class="content table-game">
                <h3>Chọn game cần nhận Gift-Code</h3>
                <table>
                    <tbody>

                        <tr>
                            <td>
                                <center><a href="./nhan-code-go88"><img loading="lazy" alt="code go88" height="100"
                                            width="100" data-src="../public/images/go88-logo.jpg"
                                            class=" ls-is-cached lazyloaded"
                                            src="../public/images/go88-logo.jpg"><noscript><img loading="lazy"
                                                src="../public/images/go88-logo.jpg" alt="code go88" height="100"
                                                width="100" /></noscript><br>Go88</a></center>
                            </td>
                            <td>
                                <center><a href="./nhan-code-sunwin"><img loading="lazy" alt="code sunwin" height="100"
                                            width="100" data-src="../public/images/sunwin-logo.jpg"
                                            class=" ls-is-cached lazyloaded"
                                            src="../public/images/sunwin-logo.jpg"><noscript><img loading="lazy"
                                                src="../public/images/sunwin-logo.jpg" alt="code sunwin" height="100"
                                                width="100" /></noscript><br>SunWin</a>
                                </center>
                            </td>
                            <td>
                                <center><a href="./nhan-code-yo88"><img loading="lazy" alt="code you88" height="100"
                                            width="100" data-src="../public/images/yo88-logo.png"
                                            class=" ls-is-cached lazyloaded"
                                            src="../public/images/yo88-logo.png"><noscript><img loading="lazy"
                                                src="../public/images/yo88-logo.png" alt="code sunwin" height="100"
                                                width="100" /></noscript><br>Yo88</a>
                                </center>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <center><a href="./nhan-code-b52-club"><img alt="code b52 club" height="100"
                                            data-src="../public/images/b52-club.jpg" class=" ls-is-cached lazyloaded"
                                            src="../public/images/b52-club.jpg"><noscript><img
                                                src="../public/images/b52-club.jpg" alt="code b52 club"
                                                height="100" /></noscript><br>B52 Club</a></center>
                            </td>
                            <td>
                                <center><a href="./nhan-code-789-club"><img loading="lazy" alt="code 789 club"
                                            height="100" width="100" data-src="../public/images/789-club.jpg"
                                            class=" ls-is-cached lazyloaded"
                                            src="../public/images/789-club.jpg"><noscript><img loading="lazy"
                                                src="../public/images/789-club.jpg" alt="code 789 club" height="100"
                                                width="100" /></noscript><br>789 Club</a>
                                </center>
                            </td>
                            <td>
                                <center><a href="./nhan-code-rik-vip"><img loading="lazy" alt="code rik vip"
                                            height="100" width="100" data-src="../public/images/rik-vip.jpg"
                                            class=" ls-is-cached lazyloaded"
                                            src="../public/images/rik-vip.jpg"><noscript><img loading="lazy"
                                                src="../public/images/rik-vip.jpg" alt="code rik vip" height="100"
                                                width="100" /></noscript><br>Rik VIP</a>
                                </center>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <center><a href="./code-nhatvip"><img alt="code nhatvip" height="100"
                                            data-src="../public/images/nhatvip-icon.png" class=" lazyloaded"
                                            src="../public/images/nhatvip-icon.png"><noscript><img
                                                src="../public/images/nhatvip-icon.png" alt="code nhatvip"
                                                height="100" /></noscript><br>Nhat Vip</a></center>
                            </td>
                            <td>
                                <center><a href="./nhan-code-x8"><img alt="code x8" height="100"
                                            data-src="../public/images/x8-club-icon.jfif" class=" lazyloaded"
                                            src="../public/images/x8-club-icon.jfif"><noscript><img
                                                src="../public/images/x8-club-icon.jfif" alt="code x8"
                                                height="100" /></noscript><br>X8</a></center>
                            </td>
                            <td>
                                <center><a href="./nhan-code-top88"><img alt="code top88" height="100"
                                            data-src="../public/images/top88-uk-icon.png" class=" lazyloaded"
                                            src="../public/images/top88-uk-icon.png"><noscript><img
                                                src="../public/images/top88-uk-icon.png" alt="code top88"
                                                height="100" /></noscript><br>Top88</a></center>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p align="center" class="text-nhancode"><a href="./nhan-code-88vin">Nhận Code
                        88Vin</a>
                    | <a href="./nhan-code-bum-club">Nhận Code Bum Club</a> | <a href="./nhan-code-bayvip">Nhận Code Bay
                        Vip</a> | <a href="./nhan-code-go88">Nhận Code Go88</a></p>
            </div>
            <div class="comment">
                <div class="content">
                    Bình luận <br>
                    802 bình luận <br>
                    Sắp xếp theo
                    Mới nhất <br>
                    Bạn phải đăng nhập để đăng bình luận... <br>

                    Tú Nguyễn <br>
                    Mình nhận code cho 3 tài khoản 3 game nhưng chỉ có 1 code 50k, còn lại toàn 20k . Thôi thế ngon
                    roi
                    <br>
                    Thích · Phản hồi · 12 · 16 giờ · Đã chỉnh sửa<br>
                    <br>
                    Bin Soái Ca <br>
                    Ad ơi sao e nhận dc code bum còn socvvip ko dc ạ <br>
                    Thích · Phản hồi · 9 · 1 ngày <br>
                    <br>
                    Nguyễn Hiền<br>
                    Đăng nhập báo lỗi là sao vây<br>
                    Thích · Phản hồi · 3 · 3 ngày<br>
                    <br>
                    Thiên Bình<br>
                    B52 dau ad :)<br>
                    Thích · Phản hồi · 3 ngày<br>
                    <br>
                    Hồ Dũng<br>
                    Nhận được code roi nhưng hơi lâu ad ơi. Mấy tiếng mới thấy<br>
                    Thích · Phản hồi · 3 · 3 ngày<br>
                    <br>
                    Văn Tuấn<br>
                    88 vin bị gì rồi ad ơi ko đăng nhập đc<br>
                    Thích · Phản hồi · 2 · 4 ngày<br>
                    <br>
                    Mai Thuy<br>
                    1 ngày nhận đúng 1 code thôi hả ad ???<br>
                    Thích · Phản hồi · 4 ngày<br>
                    <br>
                    Nguyễn Linh<br>
                    Hình như nhận nhiều game trong ngày vẫn dc<br>
                    Thích · Phản hồi · 5 · 3 ngày<br>
                    <br>
                    Mai Thuy<br>
                    Nhưg mấy game kia ko đủ điều kiện để nhận, cay ghê<br>
                    Thích · Phản hồi · 2 ngày<br>
                    <br>
                    Pham My Tien<br>
                    Nhờ code của ad mà em đã vào bờ. hihih<br>
                    Thích · Phản hồi · 4 ngày<br>
                    <br>
                    Hải Triều<br>
                    Sao web báo hết code rồi vậy ad :( ?<br>
                    Thích · Phản hồi · 1 · 5 ngày<br>
                    <br>
                    Nguyễn Huyền<br>
                    ib<br>
                    Thích · Phản hồi · 1 · 3 ngày<br>
                    <br>
                    Hoa Không Màu<br>
                    tks ạ<br>
                    Thích · Phản hồi · 2 · 5 ngày<br>
                </div>
            </div>
            <%- include("./footer"); -%>
    </div>
    <script src="../public/js/home.js"></script>
</body>

</html>